{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/subscriptions",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"subscriptionKey\": \"11be6373fca44ded80fbe2afa8597c18\",\r\n    \"subscriptionName\": \"\",\r\n    \"subscriptionRegion\": \"westus\"\r\n  },\r\n  {\r\n    \"subscriptionKey\": \"d105cad4c9a54077b00c958a97cc6e32\",\r\n    \"subscriptionName\": \"\",\r\n    \"subscriptionRegion\": \"westus\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}