{
  "Entries": [
    {
      "RequestUri": "/luis/v2.0/apps/f8ef55e6-1543-4a36-95da-497c21feea65",
      "RequestMethod": "POST",
      "RequestBody": "\"hello\"",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "42176485494149818968315538ddf05b"
        ]
      },
      "ResponseBody": "{\r\n  \"query\": \"hello\",\r\n  \"topScoringIntent\": {\r\n    \"intent\": \"Family Intent\",\r\n    \"score\": 0.6968358\r\n  },\r\n  \"entities\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}