{
  "Entries": [
    {
      "RequestUri": "/luis/v2.0/apps/7ce0ddf9-b4c4-4784-929e-a05d2bef6560",
      "RequestMethod": "POST",
      "RequestBody": "\"this is a test with post\"",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "3eff76bb229942899255402725b72941"
        ]
      },
      "ResponseBody": "{\r\n  \"query\": \"this is a test with post\",\r\n  \"topScoringIntent\": {\r\n    \"intent\": \"None\",\r\n    \"score\": 0.470495373\r\n  },\r\n  \"entities\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}