{
  "Entries": [
    {
      "RequestUri": "/luis/v2.0/apps/7ce0ddf9-b4c4-4784-929e-a05d2bef6560?q=test",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "invalid-key"
        ]
      },
      "ResponseBody": "{\r\n  \"statusCode\": 401,\r\n  \"message\": \"Access denied due to invalid subscription key. Make sure to provide a valid key for an active subscription.\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "WWW-Authenticate": [
          "AzureApiManagementKey realm=\"https://westus.api.cognitive.microsoft.com/luis/v2.0/apps\",name=\"Ocp-Apim-Subscription-Key\",type=\"header\""
        ]
      },
      "StatusCode": 401
    }
  ],
  "Names": {},
  "Variables": {}
}