{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"culture\": \"en-us\",\r\n  \"domain\": \"Comics\",\r\n  \"description\": \"New LUIS App\",\r\n  \"usageScenario\": \"IoT\",\r\n  \"name\": \"New LUIS App\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "\"9e6703ec-56fe-48ce-8a72-10d592f6056d\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://api.luis.ai/api/v2.0/apps/9e6703ec-56fe-48ce-8a72-10d592f6056d"
        ],
        "Operation-Location": [
          "https://api.luis.ai/api/v2.0/apps/9e6703ec-56fe-48ce-8a72-10d592f6056d"
        ]
      },
      "StatusCode": 201
    }
  ],
  "Names": {},
  "Variables": {}
}