{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/f8ef55e6-1543-4a36-95da-497c21feea65",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "3eff76bb229942899255402725b72941"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"f8ef55e6-1543-4a36-95da-497c21feea65\",\r\n  \"name\": \"LUIS-endpoint-tests\",\r\n  \"description\": \"\",\r\n  \"culture\": \"en-us\",\r\n  \"usageScenario\": \"\",\r\n  \"domain\": \"\",\r\n  \"versionsCount\": 1,\r\n  \"createdDateTime\": \"2017-11-22T15:29:51Z\",\r\n  \"endpoints\": {\r\n    \"PRODUCTION\": {\r\n      \"versionId\": \"0.1\",\r\n      \"isStaging\": false,\r\n      \"endpointUrl\": \"https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/f8ef55e6-1543-4a36-95da-497c21feea65\",\r\n      \"region\": null,\r\n      \"assignedEndpointKey\": \"\",\r\n      \"endpointRegion\": \"westus\",\r\n      \"publishedDateTime\": \"2017-11-22T17:36:09Z\"\r\n    }\r\n  },\r\n  \"endpointHitsCount\": 50,\r\n  \"activeVersion\": \"0.1\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}