{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/?skip=0&take=100",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"86226c53-b7a6-416f-876b-226b2b5ab07b\",\r\n    \"name\": \"ActionBindingSamples\",\r\n    \"description\": null,\r\n    \"culture\": \"en-us\",\r\n    \"usageScenario\": \"Iot\",\r\n    \"domain\": \"Travel & Local\",\r\n    \"versionsCount\": 1,\r\n    \"createdDateTime\": \"2017-02-09T14:01:44Z\",\r\n    \"endpoints\": {\r\n      \"PRODUCTION\": {\r\n        \"versionId\": \"0.1\",\r\n        \"isStaging\": false,\r\n        \"endpointUrl\": \"https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b\",\r\n        \"region\": null,\r\n        \"assignedEndpointKey\": \"11be6373fca44ded80fbe2afa8597c18\",\r\n        \"endpointRegion\": \"westus\",\r\n        \"publishedDateTime\": \"2017-05-09T19:10:24Z\"\r\n      }\r\n    },\r\n    \"endpointHitsCount\": 1046,\r\n    \"activeVersion\": \"0.1\"\r\n  },\r\n  {\r\n    \"id\": \"591ecf5e-7932-4a40-8804-0b765d4916b7\",\r\n    \"name\": \"AdaptiveCards App\",\r\n    \"description\": \"Default Intents for Azure Bot Service V2\",\r\n    \"culture\": \"en-us\",\r\n    \"usageScenario\": \"\",\r\n    \"domain\": \"\",\r\n    \"versionsCount\": 4,\r\n    \"createdDateTime\": \"2017-06-26T14:24:53Z\",\r\n    \"endpoints\": {\r\n      \"PRODUCTION\": {\r\n        \"versionId\": \"0.4.745\",\r\n        \"isStaging\": false,\r\n        \"en[...]
