{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"LUIS App name updated\",\r\n  \"description\": \"LUIS App description updated\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/api/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"86226c53-b7a6-416f-876b-226b2b5ab07b\",\r\n  \"name\": \"LUIS App name updated\",\r\n  \"description\": \"LUIS App description updated\",\r\n  \"culture\": \"en-us\",\r\n  \"usageScenario\": \"Iot\",\r\n  \"domain\": \"Travel & Local\",\r\n  \"versionsCount\": 1,\r\n  \"createdDateTime\": \"2017-02-09T14:01:44Z\",\r\n  \"endpoints\": {\r\n    \"PRODUCTION\": {\r\n      \"versionId\": \"0.1\",\r\n      \"isStaging\": false,\r\n      \"endpointUrl\": \"https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/86226c53-b7a6-416f-876b-226b2b5ab07b\",\r\n      \"region\": null,\r\n      \"assignedEndpointKey\": \"11be6373fca44ded80fbe2afa8597c18\",\r\n      \"endpointRegion\": \"westus\",\r\n      \"publishedDateTime\": \"2017-05-09T19:10:24Z\"\r\n    }\r\n  },\r\n  \"endpointHitsCount\": 1046,\r\n  \"activeVersion\": \"0.1\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}